@import "tailwindcss";

html {
    -webkit-text-size-adjust: 100%;
}

.safe-area-pb {
    padding-bottom: env(safe-area-inset-bottom, 0px);
}

.safe-area-pt {
    padding-top: env(safe-area-inset-top, 0px);
}